/* Color Scheme
Golden: #FFA600;
Red Flame: #FF3B00;
Deep Cyan: #009BA5;
Paper: #F7F7F7;
Jet: #303030; */

* {
    box-sizing: border-box;
}

body {
    font-family: 'Cabin', sans-serif;
    color: #F7F7F7;
    background-image: url(Temp/images/background2.png);
    background-size: cover;
    letter-spacing: 1.5px;
    font-weight: 700;
   }

   
   h1, h2, h3, h4, h5, h6 {
    font-family: 'Cabin', sans-serif;
   }

.nav-wrapper {
    background-color: rgba(0, 0, 0, 0);
    text-align: left;
    padding-left: 10%;
    color: #F7F7F7;
    font-size: 35px;
    padding-top: 10px;
}

/* start section */

#start-section {
    padding-right: 10%;
    padding-top: 59px;
    height: 90vh;
}

#begin {
    background-color: #1b5e20;
}

#main-container{
    background-size: cover;
    display: none;
    min-height: 90vh;
    text-align: center;
}

/* starting page */
h1 {
    text-align: right;
    font-size: 30px;
}

h4 {
    text-align: right;
    font-size: 20px;
}

#begin {
    float: right;
}

#map {
    width: 100%;
    height: 100%;
    color: black;
}
 .mapWrap {
    max-height: 10vh;
    width: 100%;
 }
 
#mapSearch {
    background-color: white;
 }

 .jumbo-map {
    width: 100%;
    height: 40vh;
 }

 .main-feeds {
    margin-top: 4rem;
 }

 .vl {
    border-left: 1px solid black;
    height: 80%;
  }

  #mapSearch {
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    font-family: 'Cabin','sans-serif';
    line-height: 30px;
    padding-left: 10px;
    float: left;
  }

  #randomBtnDiv{
      /* float: right; */
  }

  #submit {
      /* float: right; */
  }

@media (max-width: 950px) {
    #main0 {
        width: 45%;
    } 
    #main1 {
        width: 45%;
    }   
    #main2 {
        width: 45%;
    }
}

@media (max-width: 650px) {
    #main0 {
        width: 100%;
    } 
    #main1 {
        width: 100%;
    }   
    #main2 {
        width: 100%;
    }

}

@media (max-width: 325px) {
    .main-video{
        width: 100%;
    }
}